In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tkinter as tk
from tkinter import ttk
from tkinter import messagebox
from sklearn import linear_model
import warnings
warnings.filterwarnings("ignore")

df = pd.read_csv("FatihEvFiyatlarÄ±.csv",sep = ";")

In [37]:
df

    alan  odasayisi  binayasi    fiyat
0     55          2         4  1730000
1     35          1         7   755000
2    160          4         9  3450000
3     30          1         9   800000
4     50          3         8  1250000
5    130          3         0  3100000
6     45          2         6  1520000
7    145          4         2  4350000
8    160          4         4  3650000
9     40          2         6   950000
10    70          3         2  2250000
11    55          2         8  1000000
12    80          3         4  2250000
13    45          2         9   950000
14   150          4         0  3500000
15   145          4        18  2500000
16   130          4         0  3650000
17    60          3         6  1600000
18    70          3         4  2600000
19    22          1         7   650000
20   155          4         0  5200000
21   183          4         0  4500000
22   145          4         0  4350000
23   160          4        13  4500000
24   165          4         0  5500000
25   197          5         3  4200000
26    35          2         9   820000
27    50          3         7  1250000
28   170          4         1  4000000
29   160          4         0  4100000
30   170          4         0  5250000
31    50          3         4  1500000
32    55          3        10  1240000
33    55          3         6  1500000
34    45          3         7  1530000
35    75          4         7  2250000
36    35          1         9   950000
37    60          2         8  1150000
38    80          3         0  2850000

In [38]:
#Modeli OluÅturma ve EÄitme
reg = linear_model.LinearRegression()
reg.fit(df[['alan', 'odasayisi', 'binayasi']], df['fiyat'])

LinearRegression()

In [39]:
#Tahmin Fonksiyonu
def predict():
    try:
        alan = float(alan_entry.get())
        odasayisi = int(odasayisi_entry.get())
        binayasi = int(binayasi_entry.get())
        
        # Tahmin yap
        fiyat_tahmin = reg.predict([[alan, odasayisi, binayasi]])
        messagebox.showinfo("SonuÃ§", f"Tahmin Edilen Fiyat: {fiyat_tahmin[0]:.2f} TL")
    except ValueError:
        messagebox.showerror("Hata", "LÃ¼tfen geÃ§erli sayÄ±lar giriniz.")

In [41]:
# Tkinter arayÃ¼zÃ¼
root = tk.Tk()
root.title("Ev FiyatÄ± Tahmin AracÄ±")

# Renk ve font ayarlarÄ±
style = ttk.Style()
style.configure('TButton', background='blue', foreground='white')
style.configure('TLabel', font=('Arial', 12))

# Girdi alanlarÄ±
ttk.Label(root, text="Alan (mÂ²):").grid(column=0, row=0)
alan_entry = ttk.Entry(root)
alan_entry.grid(column=1, row=0)

ttk.Label(root, text="Oda SayÄ±sÄ±:").grid(column=0, row=1)
odasayisi_entry = ttk.Entry(root)
odasayisi_entry.grid(column=1, row=1)

ttk.Label(root, text="Bina YaÅÄ±:").grid(column=0, row=2)
binayasi_entry = ttk.Entry(root)
binayasi_entry.grid(column=1, row=2)

ttk.Button(root, text="Tahmin Et", command=predict).grid(column=0, row=3, columnspan=2)

root.mainloop()